body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

nav {
    background: #0066b3;
    margin: 0;
    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav ul li {
    float: left;
    list-style-type: none;
    width: 30%;
}

nav > ul > li > a {
    color: white;
    line-height: 2em;
    text-decoration: none;
    padding: 0.5em;
    display: block;
}

ul.nav-left {
  float: left;
  width: 50%;
}

ul.nav-right {
  float: right;
}

.nav-logo img {
  width: 90%;
}

.content {
    width: 80%;
    margin: 0 auto;
    margin-top: 2em;
    margin-bottom: 2em;
}

.product-img-slider img {
    width: 60%;
}

.product-img-slider {
    text-align: center;
}

.product-title {
    padding: 1em 0em;
    font-weight: bold;
}

.product-rating {
    font-size: 0.8em;
    color: #999;
}

.rating-stars {
    float: left;
    padding-right: 0.5em;
}

i.fa.fa-star {
    color: #dcba19;
}

nav.bottom-nav {
    background: white;
    font-size: 0.8em;
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 1px solid #999;
}

.bottom-nav li {
    width: 33%;
    text-align: center;
}

.bottom-nav li > a {
  color: black;
}

.bottom-nav > ul::after {
  content: '';
  clear: both;
  display: block;
  visibility: visible;
  opacity: 0;
  height: 0;
}

.bottom-nav > ul > li:nth-of-type(even) {
  border-right: 1px solid #999;
  border-left: 1px solid #999;
}

.bottom-nav i.fa {
    display: block;
    font-size: 1.5em;
}

.bottom-nav-content-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 57px;
    background: rgba(0,0,0,0.5);
}

.compare-overlay {
    padding: 1em;
    height: 100%;
}
nav.compare-nav {
    background: white;
    padding: 0em 0.5em;
}

.compare-nav ul.nav-left {
    width: 80%;
    border-bottom: 3px solid;
}

.compare-nav ul.nav-right {
    width: 20%;
    border-bottom: 3px solid;
}

.compare-nav > ul > li > a {
    color: black;
}

.compare-nav > ul > li {
    width: 100%;
}

.compare-nav > ul:last-child > li > a {
  text-align: center;
}

.compare-content {
    background: white;
    padding-top: 20px;
    min-height: 100%;
}

.compare-product-img {
    float: left;
    width: 22%;
    padding-right: 20px;
}

.compare-product-img img {
    width: 100%;
}

.compare-product-tile {
    padding: 0px 20px;
    padding-bottom: 15px;
}

.compare-product-details {
    float: left;
    font-size: 0.8em;
}

.compare-content::after {
  content: '';
  clear: both;
  display: block;
  visibility: visible;
  opacity: 0;
  height: 0;
}

.compare-product-price {
    padding: 2px 0px;
    font-weight: bold;
}

.compare-product-price span {
    font-size: 0.8em;
    font-weight: normal;
    color: green;
}

.compare-product-shipping {
    font-size: 0.8em;
    color: #999;
}

.compare-product-tile::after {
  content: '';
  clear: both;
  display: block;
  visibility: visible;
  opacity: 0;
  height: 0;
}

.deals-overlay {
    padding: 1em;
    height: 100%;
}

.deals-old-price {
    color: #999;
    font-size: 0.9em;
}

.deals-old-price a {
  text-decoration: line-through;
  pointer-events: none;
}

.deals-old-price span {
    color: #dcba19;
}

.coupons-overlay {
    padding: 1em;
    height: 100%;
}

.coupon-tile {
    width: 90%;
    margin: 0 auto;
    font-size: 0.9em;
    padding-bottom: 15px;
}

.coupons-title {
    float: left;
    width: 70%;
    color: #137e54;
    text-transform: uppercase;
}

.coupons-likes {
    float: left;
    width: 30%;
    font-size: 0.8em;
    text-align: center;
    border-top: 2px solid green;
}

.coupons-tile-header::after {
  content: '';
  clear: both;
  display: block;
  visibility: visible;
  opacity: 0;
  height: 0;
}

.coupons-tile-header {
    padding-bottom: 5px;
}

.coupon-details {
    font-size: 0.9em;
    padding-bottom: 3px;
}

.coupon-tags {
    font-size: 0.7em;
    color: #999;
}

.bottom-nav-content-overlay {
  display: none;
}

.bottom-nav-content-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    bottom: 57px;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
}

.overlay-wrapper {
    white-space: nowrap;
    overflow-x: scroll;
    width: 300%;
    height: 100%;
}

.compare-overlay {
    padding: 1em;
    height: 100%;
    float: left;
    width: 33%;
}

.deals-overlay {
    padding: 1em;
    height: 100%;
    float: left;
    width: 33%;
}

.coupons-overlay {
    padding: 1em;
    float: left;
    height: 100%;
    width: 33%;
    white-space: initial;
}

.content-overlay-container {
    width: 100%;
    margin: 0 auto;
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

#deals-btn.active {
  color: #dcba19;
}

#coupons-btn.active {
  color: #e62739;
}

#compare-btn.active {
  color: #3fb0ac;
}
